<?xml version='1.0' encoding='UTF-8'?>
<operator xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="value-filter" version="0.1.0">

    <details>
        <title>Value Filter</title>
        <homepage>https://github.com/Wirecloud/value-filter-operator</homepage>
        <authors>Miguel Jiménez Gañán &lt;mjimenezganan@gmail.com&gt;</authors>
        <email>mjimenezganan@gmail.com</email>
        <image>images/operator_logo.png</image>
        <smartphoneimage></smartphoneimage>
        <description>Operator that filters a JSON input and outputs part of its data, as addressed in an object-oriented syntax property</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <changelog>doc/changelog.md</changelog>
        <doc>doc/userguide.md</doc>
        <license>MIT</license>
        <issuetracker>https://github.com/Wirecloud/value-filter-operator/issues</issuetracker>
    </details>

    <requirements>
        <!-- Add any extra requirements here -->
        <!-- <feature name="${feature-name}" /> -->
    </requirements>

    <preferences>
        <preference name="prop_name" type="text" label="Property name" description="Name of the property containing the data to be filtered" default="poi.data.location" />
    </preferences>

    <wiring>
        <outputendpoint name="outputData" type="text" label="Filtered data" description="Sends the filtered data out" friendcode="json" />
        <inputendpoint name="inputData" type="text" label="Input data"  description="Receives a JSON object" friendcode="poi" />
    </wiring>

    <scripts>
        <script src="js/main.js"/>
    </scripts>

</operator>
